@import 'node_modules/include-media/dist/include-media';

$breakpoints: (
  phone: 320px,
  tablet: 768px,
  desktop: 1024px
);
@mixin mobile-only() {
  @include media('>=phone', '<tablet') {
    @content;
  }
}
@mixin desktop-only() {
  @include media('>=desktop') {
    @content;
  }
}
@mixin tablet-only() {
  @include media('>phone', '<=tablet') {
    @content;
  }
}
@mixin tablet-up() {
  @include media('>=tablet') {
    @content;
  }
}
@mixin tablet-down() {
  @include media('>=phone', '<desktop') {
    @content;
  }
}
