<p *ngIf="isListEmpty" [@itemAnim]='1'>
  {{ emptyText }}
</p>

<div
  cdkDropList
  [id]="id"
  [cdkDropListData]="facts"
  [cdkDropListConnectedTo]="[connectedId]"
  (cdkDropListDropped)="drop($event)"
>
  <div *ngIf='dragable'>
   <mat-card
      *ngFor="let fact of facts"
      class="item-box"
      [@itemAnim]="facts.length"
      cdkDrag
    >
      <mat-card-content>
        <mat-icon
          *ngIf="removable"
          color="warn"
          class="remove-btn"
          (click)="removed.emit(fact.id)"
          >highlight_off</mat-icon
        >
        <p>{{ fact.value }}</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf='!dragable'>
   <mat-card
      *ngFor="let fact of facts"
      class="item-box"
      [@itemAnim]="facts.length"
    >
      <mat-card-content>
        <mat-icon
          *ngIf="removable"
          color="warn"
          class="remove-btn"
          (click)="removed.emit(fact.id)"
          >highlight_off</mat-icon
        >
        <p>{{ fact.value }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
