:host {
  .cdk-drop-list {
    height: 100%;
  }
  .item-box {
    margin-bottom: 0.5rem;
    p {
      text-align: left;
      width: calc(100% - 1rem);
    }
  }
  .remove-btn {
    position: absolute;
    right: 0.25rem;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
  }
}
