<mat-toolbar>
  <h1>Chuck list</h1>
</mat-toolbar>

<div class="main-container">
  <div class="spinner-wrapper">
    <mat-progress-spinner
      mode="indeterminate"
      *ngIf="!categories"
    ></mat-progress-spinner>
  </div>
  <div class="buttons" *ngIf="categories">
    <mat-button-toggle-group (change)="retrieveFacts($event.value)" >
      <mat-button-toggle *ngFor="let category of categories" [value]="category">
        {{ category }}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="lists" *ngIf="categories">
    <div class="list">
      <h2>Source list</h2>
      <div class="spinner-wrapper-top" *ngIf="loading">
        <mat-progress-spinner
          mode="indeterminate"
        ></mat-progress-spinner>
      </div>
      <app-list
        *ngIf="!loading"
        id="sourceList"
        connectedId="customList"
        [facts]="sourceList"
        emptyText='Click on category to fetch list or choose another category'
      ></app-list>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="list">
      <h2>Custom list</h2>
      <app-list
        id="customList"
        connectedId="sourceList"
        [removable]="true"
        [dragable]="false"
        [facts]="customList$ | async"
        (dropped)="drop($event)"
        (removed)="remove($event)"
        emptyText='To add fact drag from the source list'
      ></app-list>
    </div>
  </div>
</div>
