@import "../styles/layout.scss";
@import "../styles/extensions.scss";

:host {
  mat-toolbar h1 {
    flex: 1;
    text-align: center;
  }
  .main-container {
    width: 100%;
    padding: 0 1rem;
    height: 100%;
    box-sizing: border-box;
    max-width: 75rem;
    margin: 2rem auto 0;
    text-align: center;
  }
  .buttons mat-button-toggle-group {
    margin-bottom: 0.5rem;
    justify-content: center;
    flex-wrap: wrap;
  }
  .lists {
    display: flex;
    @include tablet-down() {
      flex-direction: column;
    }
    .list {
      position: relative;
      flex: 1;
      margin: 0 0.5rem;
    }
  }
  .spinner-wrapper {
    @include spinner(50%, 50%);
  }
  .spinner-wrapper-top {
    margin: 1rem 0.5rem 0.5rem;
    display: flex;
    justify-content: center;
  }
  .error {
    margin: 0 0 0.5rem;
    color: #f44336;
  }
}
